@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.h1 {
    font-size: 100px;
    font-family: 'Press Start 2P';
    padding-top: 50px;
    padding-bottom: 80px;
    cursor: pointer;
}