.card {
  height: 150px;
  width: 150px;
  background-color: #C3C9FF;
  border-radius: 10px;
  text-align: center;
}

.gird {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
